.slide {
  background-image: url(../img/slide.jpg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1660px) {
  .slide {
    background-position-x: center;
  }
}

@media screen and (max-width: 1400px) {
  .slide {
    background-position-x: 80%;
  }

}

@media screen and (max-width: 1280px) {
 
  .slide {
    background-image: url(../img/slide_ad.jpg);
  }
}

@media(max-width: 1100px) {

  .slide__container  .slide__title {
    font-size: 30px;
    line-height: 1.4;
  }

  .menu-btn {
    width: 50px;
    height: 30px;
    position: relative;
    right: 0;
    z-index:2;
    overflow: hidden;
  }
  
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F41C31;
    transition: all 0.5s;
  }
  
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }

  .menu-container {
    display: block;
    height: 100%;
    position: relative;
    z-index: 100;
    position: fixed;
    height: 100%;
    transition: all .3s;
    width: 100%;
    left: -102%;
    top: 0;
    width: 50%;
    background: #ffffff;
  }

  .menu-list {
    flex-direction: column;
  }

  .menu__item {
    margin-bottom: 20px;
  }

  .menu-container.active {
    left: 0;
  }
  /* крестик на бургере*/
  
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
  }
}

@media screen and (max-width: 992px) {
  .menu-btn {
    right: -35%;
  }

  .header__item {
    display: none;
  }

  .slide__container .slide__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 877px) {
  .menu-btn {
    right: -25%;
  }
}

@media (max-width: 768px) {

  .menu-btn {
    right: 0;
  }

  .header__container-in .logo {
    margin: 0;
  }

  .header__container {
    max-height: none;
  }

  .header__container .container {
    justify-content: space-between;
  }

  .header__container-in {
    justify-content: space-between;
  }

    .slide .container {
    display: flex;
    justify-content: center;
  }

  .slide__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide__title {
    text-align: center;
  }

}

@media (max-width: 610px) {
  .back-call__link,
  .back-call__text {
    display: none;
  }
}

@media (max-width: 568px) {
  .slide__container  .slide__title {
    font-size: 22px;
    line-height: 1.4;
  }
}

@media all and (max-width: 480px) {
  .slide__list .slide__item {
    font-size: 16px;
    line-height: 1.4;
  }

  .slide {
    background-image: url(../img/slide_480.jpg);
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 375px) {
  .slide__container .slide__title {
    font-size: 20px;
  }

  .slide__list .slide__item {
    font-size: 15px;
    line-height: 1.4;
  }
}